<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>Emit-Broadcase Demo</title>
  <script type="text/javascript" src="/angular/lib/angular.js"></script>
  <script type="text/javascript">
    var app = angular.module('myApp', []);
    app.controller('ParentCtrl', ['$scope', function ($scope) {
      $scope.pp = "Deepak Kumar";
      $scope.$on("ppChanged",function(event,args){
        console.log(event);
        console.log(args);
        //$scope.bb = args.msg;
      })

    }]);
    app.controller('ChildCtrl', ['$scope', function ($scope) {

      $scope.$watch("pp", function(oval,nval){
        $scope.$emit("ppChanged", {msg: nval});
      })
    }])
  </script>
</head>
<body>
  <div ng-controller="ParentCtrl">
    Parent: <input type="text" ng-model="pp">
    Parent: <input type="text" ng-model="bb">
    <div ng-controller="ChildCtrl">
      Child: <input type="text" ng-model="pp">
    </div>
  </div>
</body>
</html>