 <!DOCTYPE html>
 <html ng-app="myApp">
 <head>
 	<title>Evoke Task</title>
 	<script type="text/javascript" src="/angular/lib/angular.js"></script>
 	<script type="text/javascript">
 		var app = angular.module("myApp",[]);
 		app.controller('myCtrl', ['$scope', function($scope){
 			$scope.fruits = [
 				{name: "apple",price: 50},
 				{name: "orange",price: 60},
 				{name: "mango",price: 80},
 				{name: "leamon",price: 20},
 			];
 			$scope.delete = function(index){
 				$scope.fruits.splice(index,1);
 			};
 		}])
 	</script>
 </head>
 <body ng-controller="myCtrl">
 	<ul>
 		<li ng-repeat="fruit in fruits">
 			<button ng-click="delete($index)">X</button>{{fruit.name}} - {{fruit.price}}
 		</li>
 	</ul>
 </body>
 </html>